/* About Us Content*/
/* top of the page */
#topImg {
  background-image: url(images/casualshoes.jpeg);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 90vh;
  min-height: 500px;
  width: 100%;
  z-index: -10;
}

#topImg-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
#topImg h1 {
  color: white;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 100px;
  font-weight: 800;
  width: 100%;
  text-align: center;
  animation: fade-in 3s ease-in;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
/* Origin story */
.origin {
  width: 100%;
  text-align: center;
  padding: 80px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 15px;
}

.origin h1 {
  padding: 20px;
}
.originlogo {
  color: var(--background);
  text-decoration: inherit;
  font-size: 40px;
  font-weight: 800;
  font-family: 'roboto-BlackItalic';
}
/* about us */
#aboutUs {
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

#aboutUs h1 {
  color: var(--background);
  font-size: 50px;
  font-weight: 800;
}
#aboutUsImgBox {
  overflow: hidden;
  background: white;
  position: relative;
  z-index: -1;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  height: 50vh;
  width: 100%;
  min-height: 500px;
}
.aboutUsImg {
  background-image: url(images/aboutusimg.jpeg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 2;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  animation: slide1 10s infinite;
  z-index: 1;
}
@keyframes slide1 {
  27% {
    background: url(images/aboutusimg.jpeg);
    background-size: cover;
    background-position: center center;
  }
  33% {
    background: url(images/aboutusimg3.jpeg);
    background-size: cover;
    background-position: center center;
  }
  61% {
    background: url(images/aboutusimg3.jpeg);
    background-size: cover;
    background-position: center center;
  }
  66% {
    background: url(images/aboutusimg2.jpeg);
    background-size: cover;
    background-position: center center;
  }
  95% {
    background: url(images/aboutusimg2.jpeg);
    background-size: cover;
    background-position: center center;
  }
}

#aboutUs p {
  font-size: 25px;
  font-weight: 800;
  margin: 10px;
}
/* our mission */
#ourMission {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 40px;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}
#ourMission h1 {
  color: var(--background);
  padding: 20px;
  font-weight: 800;
}
#ourMission p {
  padding: 10px;
  font-size: 20px;
}

#missionContent {
  margin: 20px;
}

#missionImg {
  width: 100%;
  height: 50vh;
  min-height: 450px;
  position: relative;
  background: url(images/poverty1.jpeg);
  background-size: cover;
  background-position: center center;
  animation: slide 16s infinite;
  z-index: -1;
}
@keyframes slide {
  15% {
    background: url(images/poverty1.jpeg);
    background-size: cover;
    background-position: center center;
  }
  20% {
    background: url(images/poverty2.jpeg);
    background-size: cover;
    background-position: center center;
  }
  35% {
    background: url(images/poverty2.jpeg);
    background-size: cover;
    background-position: center center;
  }
  40% {
    background: url(images/poverty3.jpeg);
    background-size: cover;
    background-position: center center;
  }
  55% {
    background: url(images/poverty3.jpeg);
    background-size: cover;
    background-position: center center;
  }
  60% {
    background: url(images/poverty4.jpeg);
    background-size: cover;
    background-position: center center;
  }
  75% {
    background: url(images/poverty4.jpeg);
    background-size: cover;
    background-position: center center;
  }
  80% {
    background: url(images/poverty5.jpeg);
    background-size: cover;
    background-position: center center;
  }
  95% {
    background: url(images/poverty5.jpeg);
    background-size: cover;
    background-position: center center;
  }
}

/* reviews */

#reviews {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#reviews h1 {
  color: var(--background);
  font-size: 50px;
  font-weight: 800;
  padding-top: 80px;
  padding-bottom: 20px;
  margin: 0;
}

#reviews a {
  font-size: 50px;
  font-weight: 800;
  color: var(--background);
}

#reviews .star-outline {
  color: #919090;
}

#reviews #justin {
  color: var(--background);
  text-decoration: inherit;
  font-size: 30px;
  font-weight: 800;
}
#reviews #nike {
  color: var(--background);
  text-decoration: inherit;
  font-size: 30px;
  font-weight: 800;
}
#reviews #nyt {
  color: var(--background);
  text-decoration: inherit;
  font-size: 30px;
  font-weight: 800;
}

/* sponsors */

#sponsors {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#sponsors h1 {
  color: var(--background);
  font-size: 50px;
  padding: 80px;
}
#sponsors h2 {
  font-size: 30px;
  font-weight: 800;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
}
#productslide {
  text-align: center;
  padding-top: 60px;
  color: black;
  font-size: 60px;
  margin: 0;
}

#slider {
  height: 300px;
  width: 90%;
  margin: auto;
  overflow: hidden;
  background: #ccc;
}

.slide {
  height: 300px;
  float: left;
  text-align: center;
  border: 1px SOLID white;
  line-height: 8em;
  font-size: 40px;
}
#one {
  position: relative;
  background-image: url(images/brandtoms.png);
  background-size: cover;
  background-position: center;
}
#two {
  background-image: url(images/brand22.jpeg);
  background-size: cover;
  background-position: center;
}
#three {
  background-image: url(images/brand4.jpg);
  background-size: cover;
  background-position: center;
}
#four {
  background-image: url(images/brand3.jpg);
  background-size: cover;
  background-position: center;
}
#five {
  background-image: url(images/branddc.jpg);
  background-size: cover;
  background-position: center;
}
#six {
  background-image: url(images/brand11.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1250px) {
  #ourMission {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .origin {
    width: 100%;
    text-align: center;
    padding: 80px;
    font-size: 15px;
  }
  #slider {
    height: 200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #ccc;
  }
  .slide {
    height: 200px;
    float: left;
    border: 1px SOLID white;
    line-height: 8em;
    font-size: 40px;
  }
}
@media screen and (max-width: 1000px) {
  #topImg h1 {
    font-size: 70px;
  }
  .origin {
    font-size: 10px;
  }
  .originlogo {
    font-size: 30px;
  }
  #aboutUs h1 {
    font-size: 40px;
    margin: 10px;
    padding-bottom: 40px;
  }
  #aboutUs p {
    font-size: 20px;
    margin: 10px;
  }
  #ourMission h1 {
    font-size: 40px;
  }
  #ourMission p {
    font-size: 20px;
  }
  #reviews h1 {
    font-size: 40px;
  }

  #reviews a {
    font-size: 40px;
  }
  #reviews h2 {
    font-size: 20px;
  }
  #reviews #justin {
    color: var(--background);
    text-decoration: inherit;
    font-size: 20px;
  }
  #reviews #nike {
    color: var(--background);
    text-decoration: inherit;
    font-size: 20px;
  }
  #reviews #nyt {
    color: var(--background);
    text-decoration: inherit;
    font-size: 20px;
  }
  #sponsors h1 {
    font-size: 40px;
  }
  #sponsors h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .origin {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #topImg h1 {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    animation: fade-in 3s ease-in;
  }
  .origin {
    font-size: 10px;
  }
  .originlogo {
    font-size: 27px;
  }
  #aboutUs h1 {
    font-size: 30px;
    margin: 10px;
    padding-bottom: 40px;
  }
  #aboutUs p {
    font-size: 20px;
    margin: 10px;
  }
  #ourMission h1 {
    font-size: 30px;
  }
  #ourMission p {
    font-size: 17px;
  }
  #reviews h1 {
    font-size: 30px;
  }

  #reviews a {
    font-size: 30px;
  }
  #reviews h2 {
    font-size: 17px;
  }
  #reviews #justin {
    font-size: 17px;
  }
  #reviews #nike {
    font-size: 17px;
  }
  #reviews #nyt {
    font-size: 17px;
  }
  #sponsors h1 {
    font-size: 30px;
  }
  #sponsors h2 {
    font-size: 19px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #slider {
    height: 100px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #ccc;
  }
  .slide {
    height: 100px;
    float: left;
    border: 1px SOLID white;
    line-height: 8em;
    font-size: 40px;
  }
}
