/* SLIDESHOW */

.slidershow {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  object-fit: contain;
  position: relative;
  top: 0px;
  z-index: 2;
  min-height: 500px;
}

/* navigation bar for slideshow images */

.navigation {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}
.bar {
  position: relative;
  height: 5vh;
  width: 5vh;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid #fff;
  border-radius: 90px;
  margin: 5vw;
  bottom: -30px;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: var(--background);
}

input[name='r'] {
  position: absolute;
  visibility: hidden;
}
/*images*/
.slides {
  width: 500%;
  height: 100%;
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: -10;
}

.slides-opacity {
  width: 500%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.slides-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 500%;
  z-index: 5;
  background-color: var(--overlay);
  visibility: hidden;
}

.slide {
  position: relative;
  width: 20%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}

/* text for slidshow */

.slide h1 {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 90px;
  font-weight: 800;
  color: white;
  z-index: 100;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 2;
  animation: fade-in 3s ease-in;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

/* STEP 1!! content above slideshow */

/* vvvvvvv content containers vvvvvv*/
.shoeType {
  position: relative;
  top: 0px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #919090;
}
.typeContainer {
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 0px;
  width: 100%;
  height: 700px;
  min-height: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto 0;
  background: white;
  object-fit: contain;
}
.measureContainer {
  position: relative;
  top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.shoeMeasurement {
  text-align: center;
  padding-bottom: 0px;
  padding: 20px;
}
.shoeStyle {
  position: relative;
  top: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: #919090;
}

#styleContainer {
  position: relative;
  top: 50px;
}
.profInfo {
  position: relative;
  top: 50px;
  text-align: center;
  font-weight: 800;
  padding-top: 50px;
  padding-bottom: 80px;
  color: #919090;
}
.final {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  height: 400px;
  text-align: center;
  background-color: var(--background);
}

/*^^^^^^ content containers ^^^^^^*/

.box-Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 370px;
  height: 700px;
  z-index: 1;
  background-color: var(--overlay);
}

.box {
  position: relative;
  width: 370px;
  height: 700px;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
  left: 0;
}
.box::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 5;
}

.box:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.box::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.box:hover::after {
  transform: scaleY(1);
  opacity: 1;
}
/*type image position*/
.casualwear {
  position: relative;
  right: 100px;
  bottom: 100px;
}
.officewear {
  position: relative;
  bottom: 80px;
}
.activewear {
  position: relative;
  bottom: 80px;
  right: 50px;
}

/*style image position*/
.clean {
  position: relative;
  right: 50px;
}
.subtle {
  position: relative;
  right: 50px;
}
.loud {
  position: relative;
  bottom: 50px;
}

/* type containter */
.typeImgBox {
  position: absolute;
  object-fit: cover;
}
.typeImgBox img {
  transition: 0.5s;
  object-fit: cover;
  position: relative;
  height: 800px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%);
  transform: scale(1);
}
.box:hover .typeImgBox img {
  opacity: 0.5;
  transform: scale(1.2);
}
.box:hover .typeContent h1 {
  visibility: hidden;
  transition: 0.1s;
}
.typeContent {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.typeContent h1 {
  font-size: 50px;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  top: 35%;
  color: white;
  font-family: 'roboto-bold';
  font-weight: 800;
  transition: 0.5s;
  transform: translateY(-50px);
}

.typeContent p {
  text-align: center;
  position: relative;
  width: 90%;
  left: 20px;
  padding: 0;
  color: white;
  font-size: 25px;
  font-weight: 800;
  transition: 0.5s;
  top: 55%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

/*style container */

.styleContent {
  position: relative;
  width: 100%;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.styleContent h1 {
  font-size: 5vh;
  position: absolute;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  color: white;
  font-weight: 800px;
  transition: 0.5s;
  transform: translateY(-50px);
}

.styleContent p {
  margin-bottom: 5vh;
  padding: 0;
  color: white;
  font-weight: 800;
  transition: 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}
.box:hover .styleContent h1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0px);
}
.box:hover .styleContent p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.box:hover .typeContent p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* measurement image container*/

.measure {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 500px;
  background: #000;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
}
.measure::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 3;
}

.measure:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.measure::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.measure:hover::after {
  transform: scaleY(1);
  opacity: 1;
}
.footImg {
  position: absolute;
  object-fit: cover;
  width: 100%;
}
.measure-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 80vh;
  width: 100%;
  min-height: 500px;
  z-index: 1;
  background-color: var(--overlay);
}
.footImg img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  min-height: 500px;
  transition: 0.5s;
  transform: scale(1.6);
  object-fit: cover;
  z-index: 0;
}
.measure:hover .footImg img {
  opacity: 0.5;
  transform: scale(1.8);
  object-fit: cover;
}
.measureContent {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.measureContent h1 {
  font-size: 50px;
  position: absolute;
  right: 5px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  top: 50%;
  transform: translateY(-50px);
  color: white;
  font-family: 'roboto-bold';
  font-weight: 800;
  transition: 0.5s;
}
.measure:hover .measureContent h1 {
  margin: 0 0 10px;
  padding-top: 50px;
  color: white;
  font-weight: 800px;
  transition: 0.2s;
  transform: translateY(-50px);
  opacity: 0;
}
.measureContent p {
  text-align: center;
  position: relative;
  width: 90%;
  left: 20px;
  padding: 0;
  color: white;
  font-size: 25px;
  font-weight: 800;
  transition: 0.5s;
  top: 55%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.measure:hover .measureContent p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.measureContent ul {
  list-style: none;
  text-align: center;
  position: relative;
  width: 90%;
  left: 20px;
  padding: 0;
  color: white;
  font-size: 25px;
  font-weight: 800;
  transition: 0.5s;
  top: 55%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.measure:hover .measureContent ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* slideshow at the bottom of the page */
.finalText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 15px 0px 15px;
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  width: 100%;
  color: white;
  z-index: 1;
}
/* sign up button */
a {
  text-decoration: inherit;
  text-align: center;
  color: var(--background);
}
.signup-box {
  position: relative;
  text-align: center;
  width: 100%;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.signup-bttn {
  position: relative;
  top: 0%;
  right: 0%;
  transform: translateX(-50%);
  font-weight: 800;
  font-size: 50px;
  color: var(--background);
  background-color: white;
  border-radius: 60px;
  padding: 25px 60px;
  z-index: 2;

  transition-duration: 200ms;
}

.signup-bttn:hover {
  background-color: var(--background);
  color: white;
  border: 2px solid white;
}

.finalContainer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 87.5vh;
  min-height: 500px;
  background: url(images/final1.jpeg);
  background-size: cover;
  background-position: center center;
  animation: slide 20s infinite;
  z-index: 1;
}
@keyframes slide {
  15% {
    background: url(images/final1.jpeg);
    background-size: cover;
    background-position: center center;
  }
  20% {
    background: url(images/final2.jpeg);
    background-size: cover;
    background-position: center center;
  }
  35% {
    background: url(images/final2.jpeg);
    background-size: cover;
    background-position: center center;
  }
  40% {
    background: url(images/final3.jpeg);
    background-size: cover;
    background-position: center center;
  }
  55% {
    background: url(images/final3.jpeg);
    background-size: cover;
    background-position: center center;
  }
  60% {
    background: url(images/casualwar.jpeg);
    background-size: cover;
    background-position: center center;
  }
  75% {
    background: url(images/casualwar.jpeg);
    background-size: cover;
    background-position: center center;
  }
  80% {
    background: url(images/final5.jpeg);
    background-size: cover;
    background-position: center center;
  }
  95% {
    background: url(images/final5.jpeg);
    background-size: cover;
    background-position: center center;
  }
}

/* Newsletter notification */

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}

.swal-title {
  color: var(--background);
}

.swal-text {
  padding: 17px;
  margin: 22px;
  text-align: center;
  color: #919090;
}

.swal-footer {
  background-color: var(--background);
  margin-top: 32px;
  overflow: hidden;
}
.swal-button {
  left: 50%;
  padding: 15px 40px;
  border-radius: 60px;
  background-color: white;
  font-size: 20px;
  font-weight: 800;
  color: var(--background);
  transition-duration: 200ms;
}

/* change direction of type and style container */
@media screen and (max-width: 1000px) {
  .slide h1 {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 800;
    z-index: 100;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 2;
    animation: fade-in 3s ease-in;
  }
  .typeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto 0;
    background: white;
    object-fit: contain;
  }
  .box {
    position: relative;
    min-height: 70px;
    width: 100%;
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .box-Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    z-index: 1;
    background-color: var(--overlay);
  }
  .typeImgBox img {
    transition: 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
    width: 100%;
    transform: translate(-50%);
    transform: scale(1);
  }
  .casualwear {
    position: relative;
    right: 0px;
    bottom: 250px;
    transform: translate(-50%, -50%);
  }
  .officewear {
    position: relative;
    bottom: 200px;
    right: 0px;
  }
  .activewear {
    position: relative;
    bottom: 250px;
    right: 0px;
  }
  .clean {
    position: relative;
    bottom: 150px;
    right: 0px;
  }
  .subtle {
    position: relative;
    right: 0px;
    bottom: 200px;
  }
  .loud {
    position: relative;
    bottom: 120px;
    right: 0px;
  }
  .box:hover .typeImgBox img {
    opacity: 0.5;
    transform: scale(1.2);
  }
  .measureContent p {
    font-size: 19px;
  }
  .measureContent ul {
    font-size: 19px;
  }
}

/* 
/* change direction of type and style container */
@media screen and (max-width: 910px) {
  .finalText {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 30px 15px 0px 15px;
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    width: 100%;
    color: white;
    z-index: 1;
  }
  .signup-box {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*For smartphone sized devices

Changed font sizes and minor adjustments to accomodate the smaller size screen*/

@media screen and (max-width: 530px) {
  .slidershow {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    object-fit: contain;
    position: relative;
    top: 0px;
    z-index: 2;
    min-height: 500px;
  }
  .slide h1 {
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
  }
  .shoeType {
    font-size: 18px;
  }
  .shoeStyle {
    font-size: 18px;
  }
  .profInfo {
    font-size: 18px;
  }
  .finalText {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 30px 15px 0px 15px;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    width: 100%;
    color: white;
    z-index: 1;
  }
  .signup-box {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .signup-bttn {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    font-weight: 800;
    font-size: 25px;
    color: var(--background);
    background-color: white;
    border-radius: 60px;
    padding: 25px 60px;
    z-index: 2;

    transition-duration: 200ms;
  }
  .final {
    position: relative;
    top: -100px;
    transform: translateY(50%);
    text-align: center;
    height: 300px;
    background-color: var(--background);
    z-index: 500;
  }
  .shoeMeasurement {
    text-align: center;
    padding-bottom: 15px;
    padding: 20px;
  }
  .measureContent h1 {
    font-size: 35px;
    position: absolute;
    right: 5px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    top: 40%;
    transform: translateY(-50px);
    color: white;
    font-family: 'roboto-bold';
    font-weight: 800;
    transition: 0.5s;
  }
  .typeContent h1 {
    font-size: 30px;
    position: absolute;
    right: 2%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    top: 50%;
    color: white;
    font-family: 'roboto-bold';
    font-weight: 800;
    transition: 0.5s;
    transform: translateY(-50px);
  }

  .typeContent p {
    text-align: center;
    position: relative;
    width: 90%;
    left: 20px;
    padding: 0;
    color: white;
    font-size: 15px;
    font-weight: 800;
    transition: 0.5s;
    top: 55%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
  .measureContent p {
    text-align: center;
    position: relative;
    width: 90%;
    left: 20px;
    padding: 0;
    color: white;
    font-size: 15px;
    font-weight: 800;
    transition: 0.5s;
    top: 55%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
  .measureContent ul {
    list-style: none;
    text-align: center;
    position: relative;
    width: 90%;
    left: 20px;
    padding: 0;
    color: white;
    font-size: 15px;
    font-weight: 800;
    transition: 0.5s;
    top: 55%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
}
