:root {
  --background: rgba(218, 87, 87, 0.95);
}

*,*::before,*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  /*sign up body styles */
  font-size: 16px;
  font-family: "roboto-bold";
  color: #919090;
  font-weight: 800;
  line-height: 1.6;
  height: 100vh;
}
.my_bttn{
  height: 40px;
  width: 40px;
  background-color: var(--background);
  border: none;
  color: white;
  position: fixed;
  bottom: 41px;
  right: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: none;
  font-size: 20px;
  z-index: 1000;
}

.my_bttn:hover{
  transform: scale(1.05) translateY(-5px);
  border: 1px solid var(--background);
  color: var(--background);
  background: inherit;
}
/* CSS smooth scroll */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 1050px;
  background-image: url(images/signupvan1.jpeg);
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* navigation styles */

header {
  background: var(--background);
  color: white;
  font-weight: 800px;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top:0;
  padding: 23px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*nav container*/
nav li {
  margin-bottom:  1em;
  margin-left: 1em;
}

/* nav items font*/
nav a {
  color: white;
  text-decoration: none;
  font-weight: 800px;
  padding: 2vh;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  position: relative;
  z-index: 1;
}

nav a:hover {
  color: #919090;
  transition: 0.4s;
}


.nav-toggle:checked ~ nav{
transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


/* 


IF YOU ARE LOOKING AT THIS ON A LARGER SCREEN 




*/

@media screen and (min-width: 850px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }

  .logo {
    grid-column: 1 / 3;
    font-family:"roboto-blackitalic"
  }

  nav {
    all: unset;
    grid-column: 3 / 5 ;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10vh;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }
}

  /*sign up styles */
  .container{
    padding-top: 95px;
  }
  #logincontainer{
    background: inherit;
    height: 100%;  
  }


  #login-box{
    position: relative;
    top:-200px;
    text-align: center;
    margin: 5% auto;
    height: 900px;
    width: 80%;
    min-height: 550px;
    background: none;
  }

  .left-box{
    position: absolute;
    top:0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 50%;
    height: 1135px;
    background-color: white;
  }

  .left-box h1{
    position:relative;
    top: 150px;
    margin: 0 0 20px 0;
    font-weight: 800px;
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
    color:var(--background);
    font-family: "roboto-regular";
  }
  .left-box p{
    position:relative;
    top: 130px;
    padding: 20px;
  }
  .left-box form{
    font-size: 15px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"]{
    display: block;
    box-sizing: border-box;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    padding: 4px;
    width: 25vw;
    min-width: 250px;
    max-width: 500px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #919090;
    font-family: "roboto-bold";
    font-weight: 600px;
    font-size: 15px;
    transition: 0.2s ease;
    color: #919090;
  }

  /* sign up button */

  input[type="submit"] {
    position:relative;
    top: 100px;
    margin-top: 70px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: 2px solid red;
    border-radius: 50px;
    color: white;
    font-weight: 800px;
    font-size: 15px;
    transition: 0.2 ease;
    cursor: pointer;
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background: white;
    color: #f44336;
    transition: 0.2s ease;
  }
  .dateofbirth{
    position:relative;
  }
  .birthday{
    position:relative;
    top: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .radio{
    position:relative;
    top: 120px;
  }
  #warning{
    position: relative;
    top: -20px;
  }
  .agree{
    position:relative;
    top: 100px;
  }

  /* custom select*/

select{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none; 
     width: 180px;
     height: 30px;
     margin: 0px 10px 0px 10px;
     border-radius: unset;
     text-align-last: center;
     background-color: white;
     color:#919090;
}

input[type="number"]{
  width: 50px;
  text-align: center;
  border: 1px solid rgb(180, 180, 180);
  color:#919090;
}

  ::-webkit-input-placeholder{
    color:#919090;
  }

  .right-box{
    position: absolute;
    top:0;
    right:0;
    box-sizing: border-box;
    padding: 40px, 40px, 0px, 40px;
    width: 50%;
    height: 1135px;
    min-height: 550px;
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-box .signinwith{
    display: block;
    margin-bottom: 40px;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  .right-box .signinwith h1{
    font-family:"roboto-regular";
  }

  button.social {
    margin-bottom: 20px;
    width: 40vw;
    height: 50px;
    min-height: 40px;
    border:none;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    font-weight: 800px;
    transition: 0.2s ease;
    cursor: pointer;
  }

  .facebook{
    background: #32508e;
  }
  .twitter{
    background:#55acee;
  }
  .google{
    background: #dd4b39;
  }

  .or{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: inherit;
    color: white;
    background: rgba(0,0,0, 0.6);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
  }
  .bottomPage{
    position: relative;
    top: -5px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10%;
    width:100%;
    color:white;
    background-color: #919090;
    z-index: 1;
  }
  
  .bottomPage h1{
    color: var(--background);
    font-size: 40px;
    font-weight: 800;
  }
  .bottomPage h2{
    font-size: 25px;
  }
  .bottomPage .fas{
    color: rgb(218, 87, 87);
  }
  
  .bottomPage input{
    all:unset;
    width:270px;
    height: 25px;
    font-size:15px;
    color: #919090;
    padding-left: 5px;
    background-color: white;
  }
  .bottomPage input::-webkit-input-placeholder{
    color: #919090;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .bottomPage button{
    font-size: 16.5px;
    background: white;
    border: 1.5px solid white;
  }

  /* responsive */

  @media screen and (max-width: 1450px){
    .container {
      position: relative;
      width: 100%;
      height: 1700px;
      background-image: url(images/signupvan1.jpeg);
      background-attachment: fixed;
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      
    }

    .left-box{
      position: absolute;
      top:700px;
      left:none;
      box-sizing: border-box;
      padding: 40px;
      width: 100%;
      height: 1100px;
      z-index: 1;
    }
    .left-box h1{
      top:60px;
    }
    .left-box p{
      top: 60px;
    }
    .birthday{
      top:40px;
    }
    .dateofbirth{
      position:relative;
      top:-50px;
    }
    .radio{
      top:50px;
    }
    #warning{
      top:30px;
    }
    .agree{
      top:80px;
    }
    input[type="submit"]{
      top:70px;
    }

    .right-box{
      position: relative;
      top:0;
      right:none;
      box-sizing: border-box;
      width: 100%;
      height: 900px;
      background-color:rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    button.social {
      margin-bottom: 20px;
      width: 80vw;
      height: 50px;
      min-height: 40px;
      border:none;
      border-radius: 2px;
      color: white;
      font-size: 15px;
      font-weight: 800px;
      transition: 0.2s ease;
      cursor: pointer;
    }
    .or{
      position: absolute;
      top: 700px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      color: white;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      line-height: 40px;
      text-align: center;
      z-index: 2;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"]{
      display: block;
      box-sizing: border-box;
      position: relative;
      top: 60px;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-bottom: 20px;
      padding: 4px;
      width: 50vw;
      min-width: 250px;
      max-width: 400px;
      height: 32px;
      border: none;
      outline: none;
      border-bottom: 1px solid #aaa;
      font-family: "roboto-bold";
      font-weight: 600px;
      font-size: 15px;
      transition: 0.2s ease;
    }
    .bottomPage input{
      all:unset;
      width:270px;
      height: 25px;
      font-size:15px;
      color: #919090;
      padding-left: 5px;
      background-color: white;
    }
  }

  @media screen and (max-width: 850px){
    #login-box{
      position: relative;
      top:-200px;
      text-align: center;
      margin: 5% auto;
      height: 900px;
      width: 100%;
      min-height: 550px;
      background: none;
    }
    button.social {
      margin-bottom: 20px;
      width: 100vw;
      height: 50px;
      min-height: 40px;
      border:none;
      border-radius: 2px;
      color: white;
      font-size: 15px;
      font-weight: 800px;
      transition: 0.2s ease;
      cursor: pointer;
    }
    .bottomPage input{
      all:unset;
      width:270px;
      height: 25px;
      font-size:15px;
      color: #919090;
      padding-left: 5px;
      background-color: white;
    }
    

  }
  @media screen and (max-width: 500px){
    .left-box h1{
      font-size: 40px;
    }
    .left-box p{
      position:relative;
      top: 40px;
      padding: 20px 0px 20px 0px;
    }
    .right-box .signinwith{
      font-size: 40px;
    }
    select{
      width: 150px;
      margin: 0px 10px 0px 10px;
    }
    .bottomPage{
      position: relative;
      top: -5px;
      padding-top: 20px;
      padding-bottom: 50px;
      padding-left: 10%;
      width:100%;
      color:white;
      background-color: #919090;
      z-index: 1;
    }
    
    .bottomPage h1{
      color: var(--background);
      font-size: 30px;
      font-weight: 800;
    }
    .bottomPage h2{
      font-size: 18px;
    }
    .bottomPage .fas{
      color: rgb(218, 87, 87);
    }
    
    .bottomPage input{
      all:unset;
      width:70%;
      height: 25px;
      font-size:15px;
      color: #919090;
      padding-left: 5px;
      background-color: white;
    }
    .bottomPage input::-webkit-input-placeholder{
      color: #919090;
      font-size: 12px;
      letter-spacing: 1px;
    }
    .bottomPage button{
      font-size: 16.5px;
      background: white;
      border: 1.5px solid white;
    }
    .my_bttn{
      height: 40px;
      width: 40px;
      background-color: var(--background);
      border: none;
      color: white;
      position: fixed;
      bottom: 5px;
      right: 5px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      display: none;
      font-size: 20px;
    }
  }
  @media screen and (max-width: 400px){
    .left-box h1{
      font-size: 30px;
    }
    .right-box .signinwith{
      font-size: 30px;
    }
  }




